/* styles.css */
.menus-list {
    padding: 20px;
    max-width: 600px;
    margin: auto;
  }
  
  .menu-item, .category-item, .item {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .menu-item h3, .category-item h4 {
    margin-top: 0;
  }
  
  .menu-item p, .category-item p, .item p {
    margin-bottom: 0;
  }
  
  .category-item {
    margin-left: 20px;
  }
  
  .item {
    margin-left: 40px;
  }
  